<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Appointment Booking</title>
    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
    <!-- Vue 3 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
    <link rel="stylesheet" href="../general.css">
</head>
<style>
body {
    background-image: url('../background.jpeg');
    background-size: cover; /* Ensure the background image covers the entire viewport */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fix the background image so it doesn't scroll with the content */
}
</style>

<body>
    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-lg-3">
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-9">
                            <div id="logo-container">
                                <a href="index.html"><img src="../logo.png" width="130px" height="100px"></a>
                                <i class="bi bi-list" id="closemenu"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                </div>

                <div class="col-lg-6 d-flex justify-content-center">
                    <div class="text-center" id="menu-link">
                        <ul>
                            <li><a href="index.html" class="menufont linkhover"><span>HOME</span></a></li>
                            <li class="highlight linkhover"><a href="appointment.html"><span style="color:white">BOOK APPOINTMENT</span></a></li>
                            <li><a href="claims.html" class="menufont linkhover"><span>CLAIMS</span></a></li>
                            <li class="menufont linkhover dropdown">
                                <a href="index.html">JOHN DOE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header -->

    <div id="app" class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 shadow p-3 mt-5 mb-5 bg-white rounded">
                <h1 class="mt-3">Appointment Booking</h1>
                <hr>
                <form @submit.prevent="createAppointment">
                    
                    <div class="mb-3">
                        <label for="patientID" class="form-label">Patient ID</label>
                        <p class="form-control-static">{{ PatientID }}</p>
                    </div>
                   
                    <div class="mb-3">
                        <label for="patientName" class="form-label">Patient Name</label>
                        <p class="form-control-static">{{ PatientName }}</p>
                    </div>
                    
                    <div class="mb-3">
                        <label for="appointmentDate" class="form-label">Appointment Date</label>
                        <input type="date" class="form-control" id="AppointmentDate" @change="fetchAvailableTimeslots" v-model="selectedDate" :min="minDate" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="timeslotID" class="form-label">Choose your Timeslot</label>
                        <select class="form-select" id="TimeslotID" v-model="TimeslotID" required>
                            <option value="" disabled>Select a Timeslot</option>
                            <option v-for="slot in availableTimeslots" :value="slot.id">{{ slot.time }}</option>
                        </select>
                    </div>
                   
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary" id="book">Book Appointment</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script>
        const book_appointment_URL = "http://localhost:5200/book_appointment";
        const appointments_URL = "http://localhost:8000/api/v1/appointments"
        const app = Vue.createApp({
            data() {
                return {
                    selectedDate: "",
                    AppointmentDate: "",
                    TimeslotID: "",
                    EmployeeID: 21,
                    PatientID: 100,
                    PatientName: "John Doe",
                    availableTimeslots: []
                };
            },

            computed: {
                minDate() {
                    // Get today's date
                    const today = new Date();
                    // Format it to YYYY-MM-DD for the input date field
                    const minDate = today.toISOString().split('T')[0];
                    return minDate;
                }
            },
            mounted() {
                this.fetchAvailableTimeslots();
            },
            methods: {
                fetchAvailableTimeslots() {
                    

                    fetch(appointments_URL + `?selected_date=${this.selectedDate}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Failed to fetch available timeslots');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.code === 200) {
                                this.availableTimeslots = data.data.appointments;
                            } else {
                                throw new Error(data.message || 'Failed to fetch available timeslots');
                            }
                        })
                        .catch(error => {
                            console.error('Error fetching available timeslots:', error);
                        });
                },
                createAppointment() {

                    const data = {
                        AppointmentDate: this.selectedDate,
                        TimeslotID: parseInt(this.TimeslotID),
                        EmployeeID: this.EmployeeID,
                        PatientID: this.PatientID,
                        PatientName: this.PatientName,
                    };
                    console.log(data)
                    fetch(book_appointment_URL, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(data)
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error("Error booking appointment");
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log("Appointment booked successfully:", data);
                            alert("Appointment booked successfully!");
                            window.location.href = 'appointment.html';
                        })
                        .catch(error => {
                            console.error("Error booking appointment:", error);
                            alert("Error booking appointment. Please try again.");
                        });
                }
            }
        });
        app.mount('#app');
    </script>
    <!-- Bootstrap Javascript -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsX
