<!DOCTYPE html>
<html lang="en">
<head>
    <title>Refill Prescription</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
        crossorigin='anonymous'>
    <!-- Vue 3 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
    <link rel="stylesheet" href="general.css">
	
	<!-- Swiper CSS -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<!-- Swiper JS -->
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<style>
        .swiper-slide img {
            width: 100%;
			height: 700px;
        }
		/* Style for the text overlay */
        .text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for better readability */
        }
    </style>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-lg-3">
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-9">
                            <div id="logo-container">
                                <a href="index.html"><img src="logo.png" width="130px" height="100px"></a>
                                <i class="bi bi-list" id="closemenu"></i>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-3">  
                </div>
                
                <div class="col-lg-6 d-flex justify-content-center">
                    <div class="text-center" id="menu-link">
                        <ul>
                            <li><a href="index.html" class="highlight menufont linkhover"><span style="color:white">HOME</span></a></li>
                            <li class="linkhover"><a href="appointment.html"><span>BOOK APPOINTMENT</span></a></li>
                            <li><a href="claims.html" class="menufont linkhover"><span>CLAIMS</span></a></li>
                            <li class="menufont linkhover dropdown">
                                <a href="index.html">JOHN DOE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header -->
	<!-- Swiper Container -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../slider/1.jpg" alt="Image 1">
			<div class="text-overlay">Welcome to UMS Clinic</div>
			<div class="text-overlay">Welcome to UMS Clinic</div>
		</div>
        <div class="swiper-slide"><img src="../slider/2.jpg" alt="Image 2">
			<div class="text-overlay">Welcome to UMS Clinic</div>
			<div class="text-overlay">Welcome to UMS Clinic</div>
		</div>
        <!-- <div class="swiper-slide"><img src="image3.jpg" alt="Image 3"></div> -->
        <!-- Add more swiper slides as needed -->
    </div>
    <!-- Add pagination -->
    <div class="swiper-pagination"></div>
</div>

	
	
<!-- Bootstrap Javascript -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'></script>
	<script>
    // Initialize Swiper
    var swiper = new Swiper('.swiper-container', {
        // Optional parameters
        loop: true, // Loop through slides
        autoplay: {
            delay: 5000, // Autoplay delay in milliseconds
        },
        pagination: {
            el: '.swiper-pagination', // Pagination container
            clickable: true, // Allow pagination bullets to be clickable
        },
    });
</script>
</body>
</html>